apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-ui
  namespace: quantatom-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-ui
  template:
    metadata:
      labels:
        app: web-ui
    spec:
      containers:
      - name: ui
        image: nginx:alpine
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: web-ui
  namespace: quantatom-system
spec:
  selector:
    app: web-ui
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30000
  type: NodePort
